html {
    font-size:22px
}
a {
    color: #d4783a;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
.blog {
    text-decoration: none;
}
.blog h4 {
    text-decoration: underline;
    text-decoration-color: #d4783a;
}
.blog h4:hover {
    text-decoration: none;
}
.blog h6 {
    color: #333;
}
.blog p {
    color: #333;
}
.blog_paragraph {
    text-indent: 30px;
}
body {
    background: url(./Assets/pattern.png) fixed;
    background-size: 500px 500px;
    color: whitesmoke;
    text-align: center;
    image-rendering: crisp-edges;
}
header {
    font-size: 50px;
}
.headshot {
    width: 158px;
    height: 200px;
    position: absolute;
    top: 20px;
    right: 60px;
    border: solid #333 3px;
}
h3 {
    text-align: left;
    margin: 50px;
}
h5 {
    text-align: left;
    margin-left: 50px;
    margin-top: 0px;
    font-family:'Courier New', Courier, monospace;
}
hr {
    color:rgba(62, 62, 62, 0.75);
    margin-left: 50px;
}
footer {
    background-color: rgba(62, 62, 62, 0.75);
    color: whitesmoke;
}
.container {
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
}
.content {
    border: solid #333 2px;
    position: relative;
    background-color: rgb(251, 229, 121, 0.94);
    color: #333;
    filter: drop-shadow(5px 5px);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.current {
    color: #ba639d;
}
.current:hover {
    text-decoration: none;
}
.default {
    color: #333;
    text-decoration: none;
}
.about {
    margin-right: 250px;
}
.post {
    padding: 20px;
    margin: 5px;
}
.post h4 {
    text-align: left;
    margin-bottom: 5px;
}
.post h6 {
    text-align: left;
    margin-bottom: 5px;
    margin-top: 5px;
}
.post p {
    text-align: left;
    margin-left: 20px;
    margin-top: 5px;
}
.nav {
    text-align: left;
    border: dashed #333;
    border-right-width: 2px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    margin-left: 40px;
}
.nav a {
    font-family: "Courier Prime";
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}
.suggested {
    font-family: "Courier Prime";
    font-weight: 400;
    font-style: normal;
    font-size: 0.7em;
    margin-bottom: 0px;
}
.suggested_post {
    font-family: "Courier Prime";
    font-weight: 400;
    font-style: normal;
    font-size: 0.7em;
    margin-top: 0px;
}
/* Fonts */
.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  display: inline;
  font-size: 0.75em;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}
